@media (min-width: 320px) and (max-width:799px) {
    .problem_buttons{
        display: grid;
        grid-gap: 1.5rem;
    }
}
body {
    background-color: #f4c983 ;
    text-align: center;
}

h1,h3,p{
    color: #484018;
}

.answer_number{
    font-size: x-large;
}
.button{
    background-color: #5b6d5b;
    border: none;
    color: #e40017;
    padding: 40px 40px;
    text-align: center;
    font-size: larger;
}
